<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 p-3">
        <div class="form-group">
          <%= form.label :title, 'Título' %>
          <%= form.text_field :title, class: "form-control" %>
        </div>

        <div class="actions">
          <%= form.submit "Guardar", class: "mt-3 btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

<% end %>
