<p id="notice"><%= notice %></p>

<h1 class="text-center text-secondary">Mis cuadernos</h1>
<hr>

<div class="container-fluid">
  <div class="row flex-row">
    <div class="col-md-3 text-center mb-4 flex-props">
      <i class="fas fa-plus icon-style"></i> <br>
      <%= link_to 'New Book', new_book_path, class: "btn btn-link" %>
    </div>
    <% @books.each do |book| %>
      <div class="col-md-3 text-center mb-4 flex-props">
        <i class="fas fa-folder icon-style"></i> <br>
        <%= link_to book.title, book_notes_url(book), class: "btn btn-link" %> <br>
        <% if book.is_global %>
          <%= link_to 'Eliminar notas', book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-white" %> <br>
        <% else %>
          <%= link_to 'Eliminar', book, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-white" %> <br>
        <% end %>
      </div>
    <% end %>
  </div>
</div>