<h1 class="text-center text-secondary">Mis cuadernos</h1>
<hr>

<div class="container-fluid">
  <div class="row flex-row">
    <div class="col-md-3 text-center mb-4 flex-props">
      <i class="fas fa-plus icon-style"></i> <br>
      <%= link_to 'Crear cuaderno', new_book_path, class: "btn btn-link" %>
    </div>
    <div class="col-md-3 text-center mb-4 flex-props">
      <i class="fas fa-exchange-alt icon-style"></i> <br>
      <%= link_to 'Convertir todas las notas', convert_user_notes_books_path, class: "btn btn-link" %>
    </div>
    <% @books.each do |book| %>
      <div class="col-md-3 text-center mb-4 flex-props">
        <i class="fas fa-folder icon-style"></i> <br>
        <%= link_to book.title, book_notes_url(book), class: "btn btn-link" %> <br>
        <% if book.is_global %>
          <%= link_to 'Eliminar notas', book, method: :delete, data: { confirm: 'Se eliminarán todas las notas de Global' }, class: "btn btn-danger text-white" %> <br>
        <% else %>
          <%= link_to 'Eliminar', book, method: :delete, data: { confirm: "Se eliminará #{book.title} junto con todas sus notas" }, class: "btn btn-danger text-white" %> <br>
        <% end %>
      </div>
    <% end %>
  </div>
</div>