<div class="ml-3">
  <h1 class="text-secondary"><%= @book.title %></h1>
  <% unless @book.is_global %>
    <%= link_to 'Editar nombre', edit_book_path(@book), class: "btn btn-primary text-light mt-3" %>
  <% end %>
</div>

<hr>

<!--<h2 class="text-center text-secondary">Notes</h2>-->

<div class="container-fluid">
  <div class="row flex-row">
    <div class="col-md-3 text-center mb-4 flex-props">
      <i class="fas fa-plus icon-style"></i> <br>
      <%= link_to 'Crear nota', new_book_note_url, class: "btn btn-link" %>
    </div>
    <% @notes.each do |note| %>
      <div class="col-md-3 text-center mb-4 flex-props">
        <i class="fas fa-sticky-note icon-style"></i> <br>
        <%= link_to note.title, book_note_url(@book, note), class: "btn btn-link" %>
        <br>
        <%= link_to 'Eliminar', [@book, note], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger text-white" %>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Volver', books_path, class: "ml-3 text-light btn btn-secondary" %>
