<!DOCTYPE html>
<html>
  <head>
    <title>TpiFinalWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar justify-content-end shadow py-3 mb-5 bg-white rounded">

      <% if current_user %>
        <%= link_to root_url, class:'home-icon text-secondary' do %>
          <i class='fas fa-home'></i>
        <% end %>
        <i class='fas fa-user m-2'></i>
        <%= current_user.email %> <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, data: { confirm: '¿Desea cerrar sesión?' }, class: "btn btn-secondary text-light m-3 float-right" %>
      <% end %>
    </nav>
    <% flash.each do |name, msg| %>
      <%= content_tag :section, msg, :id => "flash#{name}", :class => "alert alert-info flash" %>
    <% end %>
    <%= yield %>
  </body>
</html>
